@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Condensed:ital,wght@0,600;1,400&display=swap');


.navContainer {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    right: 500px;
}

.navContainer div {
    position: relative;
    z-index: 5;
}

.navContainer .active {
    color: #FF3800;
}

.navContainer a {
    text-decoration: none;
    color:  #F9DC5C;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 30px;
}

.navContainer a:hover {
    color: #FF3800;
}

.navContainer .user svg {
    font-size: 1.5rem;
    color: #FF3800;
}

.logo-text {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
    position: relative;
    top: 150px;
    color: #fdfcdc;
}

.responsive_nav{
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
    .normal_nav {
        display: none;
    }

    .responsive_nav{
        display: block;
    }

    .logo-text {
        top: 0;
    }

    .responsive_links {
        background-color: black;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .responsive_links a {
        font-family: 'Courier New', Courier, monospace;
        font-size: larger;
        font-weight: lighter;
        padding: 5px;
        text-decoration: none;
    }

    .responsive_links a:hover{
        background-color: blue;
        padding: 5px;
        color: white;
    }

    .responsive_logo {
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 10px;
        position: relative;
        z-index: 1;
        
    }

    .responsive_logo a {
        text-decoration: none;
        font-size: 0.8rem;
    }

    .menu_text {
        color: rgb(156, 155, 155);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    svg {
        color: red;
    }

    .ham_menu {
        display: flex;
        justify-items: center;
        font-size: 0.8rem;
    }

    .menu_btn {
        background-color: transparent;
        border: none;
        font-size: larger;
    }

    .menu_btn:hover{
        cursor: pointer;
    }

    hr{
        display: none;
    }

    .show {
        visibility: visible;
    }

    .no_show {
        visibility: hidden;
    }
    
}